version: '3.8'

services:
  tor-socks:
    container_name: tor_socks_service
    image: horellanaf/tor-http-proxy:latest

  tor-dns:
    container_name: tor_dns_service
    image: horellanaf/tor-dns:latest

  privoxy:
    container_name: privoxy_service
    image: horellanaf/privoxy:latest

  squid:
    container_name: http_cache_service
    image: ubuntu/squid:latest
    volumes:
      - "./templates/squid.conf:/etc/squid/squid.conf"
    ports:
      - "3128:3128/tcp"

  dnsmasq:
    container_name: dns_service
    image: horellanaf/dnsmasq:latest
    ports:
      - "53:9053/udp"
