name: Build & publish docker images
on:
  push

jobs:
  build-and-publish-images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - dockerfile: ./docker-files/tor/Dockerfile
            image: horellanaf/tor-http-proxy

          - dockerfile: ./docker-files/tor-dns/Dockerfile
            image: horellanaf/tor-dns

          - dockerfile: ./docker-files/privoxy/Dockerfile
            image: horellanaf/privoxy

          - dockerfile: ./docker-files/squid/Dockerfile
            image: horellanaf/squid

          - dockerfile: ./docker-files/dnsmasq/Dockerfile
            image: horellanaf/dnsmasq

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Add SHORT_SHA env property with commit short sha
        run: echo "SHORT_SHA=`echo ${GITHUB_SHA} | cut -c1-8`" >> $GITHUB_ENV

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push Docker image ${{ matrix.dockerfile }}, git commit hash TAG
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          push: true
          tags: ${{ matrix.image}}:${{ env.SHORT_SHA }}

      - name: Build and push Docker image ${{ matrix.dockerfile }}, latest TAG
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          push: true
          tags: ${{ matrix.image}}:latest
